<script lang="ts">
	import type { ITodo } from 'src/@types/ITodos';

	export let todo: ITodo;
</script>

<div class="flex items-center space-x-2 border border-neutral-300 p-2 rounded shadow-sm">
	<input type="checkbox" class="accent-purple-500" bind:checked={todo.done} />
	<p>
		{todo.name}
	</p>
</div>
