<script lang="ts">
	import { PlusIcon } from 'svelte-feather-icons';

	let todo: string = '';

	export let addTask: (todo: string) => undefined;
</script>

<div class="flex mb-4 shadow-sm">
	<input
		class="border border-gray-400 outline-none px-3 py-2 rounded-l w-full"
		type="text"
		placeholder="Criar um novo framework PHP"
		bind:value={todo}
	/>
	<button
		class="bg-purple-600 hover:bg-purple-500 active:bg-purple-600 text-white outline-none px-3 font-bold rounded-r"
		on:click={addTask(todo)}><PlusIcon size="24" /></button
	>
</div>
