<script lang="ts">
	import { goto } from '$app/navigation';

	import TodoInput from '$lib/TodoInput.svelte';
	import TodoItem from '$lib/TodoItem.svelte';

	import { user } from '../stores/user';
	import type { ITodo } from '../@types/ITodos';

	const addTask = (name: string): any => {
		const todo: ITodo = {
			name,
			done: false
		};

		$user ? ($user.todos = [...$user.todos, todo]) : 'Não foi possível adicionar';
	};
</script>

<div class="w-screen max-w-4xl mx-auto p-4">
	{#if $user}
		<TodoInput {addTask} />
		<div class="space-y-2">
			{#each $user.todos as todo}
				<TodoItem bind:todo />
			{/each}
		</div>
	{:else}
		<div
			class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
			role="alert"
		>
			<strong class="font-bold">Atenção: </strong>
			<span class="block sm:inline">Você precisa está logado para adicionar tarefa.</span>
		</div>
	{/if}
</div>
