<script lang="ts">
	import { user } from '../stores/user';

	const checkedTodos = $user?.todos.filter((todo) => todo.done);
</script>

<div class="w-screen max-w-4xl mx-auto p-4">
	Itens que já foram finalizados
	{#if checkedTodos?.length}
		<ul class="space-y-2">
			{#each checkedTodos as todo}
				<li>{todo.name}</li>
			{/each}
		</ul>
	{:else}
		<div
			class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
			role="alert"
		>
			<strong class="font-bold">Atenção: </strong>
			<span class="block sm:inline">Nenhum item finalizado! Vá fazer suas tarefas rapaz.</span>
		</div>
	{/if}
</div>
