<script lang="ts">
	import { goto } from '$app/navigation';

	import { user } from '../stores/user';
	import { users } from '../stores/users';

	let userName: string;
	let userEmail: string;

	const handleSubmit = () => {
        let userExists = $users.find((user) => user.email == userEmail);

        if (userExists) {
            $user = userExists;
        } else {
            $user = {
                name: userName,
                email: userEmail,
                todos: []
            };
        }

		goto('/all');
	};
</script>

<div class="max-w-sm mx-auto mt-6">
	<div class="bg-white shadow-md border border-gray-200 rounded-lg max-w-sm p-4 sm:p-6 lg:p-8">
		<form class="space-y-6" on:submit|preventDefault={handleSubmit}>
			<h3 class="text-center font-bold">Área de login</h3>
			<div class="space-y-2">
				<label for="name" class="block text-sm font-medium leading-5 text-gray-700"> Nome </label>
				<div class=" rounded-md shadow-sm">
					<input
						id="name"
						type="name"
						class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
						placeholder="Elon Musk"
						bind:value={userName}
					/>
				</div>
				<label for="email" class="block text-sm font-medium leading-5 text-gray-700"> Email </label>
				<div class=" rounded-md shadow-sm">
					<input
						id="email"
						type="email"
						class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
						placeholder="ElonMusk@example.com"
						bind:value={userEmail}
					/>
				</div>
			</div>
			<button
				class="w-full bg-white hover:bg-purple-700 text-purple-800 font-semibold py-2 px-4 border border-purple-400 rounded shadow hover:border-purple-600 hover:text-white"
			>
				Entrar
			</button>
		</form>
	</div>
</div>
