<script lang="ts">
	import { user } from '../stores/user';

	const checkedTodos = $user?.todos.filter((todo) => !todo.done);
</script>

<div class="w-screen max-w-4xl mx-auto p-4">
	Itens que ainda não foram finalizados
	{#if checkedTodos?.length}
		<ul class="space-y-2">
			{#each checkedTodos as todo}
				<li>{todo.name}</li>
			{/each}
		</ul>
	{:else}
		<div
			class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative"
			role="alert"
		>
			<span class="block sm:inline"
				>Parabéns todas suas tarefas foram finalizadas. Vá comer um chocolate!</span
			>
		</div>
	{/if}
</div>
